@import 'theme.scss';

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-color: rgba(map-get($colours, 'dark'), 0.75);
	background-image: url('/pawel-czerwinski-JG2DaZZzvzk-unsplash.jpg');
	background-blend-mode: overlay;
	background-position: center;
	background-size: cover;
	padding-block-start: 2rem;
	overflow: hidden;

	@media screen and (min-height: 800px) {
		justify-content: center;
		padding-block-start: 0;
		transform: translateY(-2rem); // account for the footer
		overflow: visible;
	}

	&__header {
		width: 100%;
		max-width: 640px;

		@media screen and (min-width: 1440px) {
			max-width: 1024px;
		}

		h1 {
			color: map-get($colours, 'secondary');
			font-variation-settings: 'wght' 800;
			font-style: normal;
			text-transform: lowercase;
			margin: 0;

			svg {
				transform: translate(-0.5rem, -0.5rem);
			}
		}
	}

	&__container {
		width: 100%;
		max-width: 640px;
		height: calc(100dvh - 100px);
		margin: 0 auto;
		display: flex;

		@media screen and (min-height: 800px) {
			height: 75dvh;
		}

		@media screen and (min-width: 1440px) {
			max-width: 1024px;
		}
	}

	&__footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		color: map-get($colours, 'light');
		text-align: center;
		background: map-get($colours, 'dark');

		@media screen and (min-height: 800px) {
			transform: translateY(2rem); // account for the transform on .app making this fixed to it, not the viewport
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				display: block;
				margin: 0.25rem;
				font-size: 0.75rem;

				&:last-of-type {
					margin-bottom: 0;
				}

				a {
					color: currentColor;

					&:hover, &:focus, &:active {
						color: map-get($colours, 'accent');
					}
				}
			}
		}
	}
}

