<div class="expandable" [attr.data-direction]="direction">
    <button class="expandable__toggle" [class.expandable__toggle--expanded]="isExpanded" (click)="toggle()">
        {{ label }}
        <i class="fa-solid" [ngClass]="'fa-chevron-' + direction"></i>
    </button>
    <div #content class="expandable__content"
         data-testId="expandable-content"
         [class.expandable__content--expanded]="isExpanded"
         [style.height]="isExpanded ? contentHeight : '0px'"
    >
        <ng-content></ng-content>
    </div>
</div>
