@import '../_common-styles/theme';

.icon-button {
	width: 100%;
	aspect-ratio: 1 / 1;
	background: map-get($colours, 'dark');
	border: 0;
	font-size: 1.25rem;
	color: rgba((colour-contrast(map-get($colours, 'dark'))), 0.25);
	padding: 0;

	&:hover, &:focus, &:active {
		color: colour-contrast(map-get($colours, 'dark'));
	}

	&--active {
		color: map-get($colours, 'secondary');

		&:hover, &:focus, &:active {
			color: map-get($colours, 'secondary');
		}
	}
}
