@import '../theme.scss';

.icon-button {
	width: 100%;
	aspect-ratio: 1 / 1;
	background: map-get($colours, 'dark');
	border: 0;
	font-size: 1.25rem;
	color: rgba(map-get($colours, 'light'), 0.25);

	&--active {
		color: map-get($colours, 'secondary');
	}
}
