@import '../_common-styles/theme';

.page-content {
	padding: 1rem;
	background: map-get($colours, 'light');
	flex-grow: 1;
	flex-basis: auto;
	box-sizing: border-box;

	&__title {
		font-size: 0.8rem;
		font-variation-settings: 'wght' 900;
		text-transform: uppercase;
	}
}
