.swagger-ui .opblock {
	
	.btn, 
	.btn-group .btn,
	select {
		font-family: $body-font;
		font-weight: 600;
		box-shadow: none;
		border-radius: 0;
		margin-left: 0;
	}

	.btn {
		text-decoration: underline;
		text-decoration-color: transparent;
		
		&:hover, &:focus, &:active {
			text-decoration-color: currentColor;
		}
	}
	
	.btn-group .btn.try-out__btn {
		&.cancel {
			background: map-get($colors, 'dark');
			border-color: map-get($colors, 'dark');
			
			&:hover, &:focus, &:active {
				background: darken(map-get($colors, 'dark'), 20%);
			}
		}
		
		&.reset {
		}
	}
	
	@each $operation, $color in $op_colors {
		&-#{$operation} {
			
			.btn, 
			.btn-group .btn {
				background: $color;
				border-color: $color;
				color: white;
				
				&:hover, &:focus, &:active {
					background: darken($color, 10%);
				}
			}
		}
	}
	
	.parameters-container {
		padding: 20px;
		
		.opblock-description-wrapper {
			padding: 0;
		}
	}
	
	.table-container {
		padding: 0;
		
		// Table details are in _operation-tables.scss
	}
	
	.execute-wrapper {
		padding-top: 0;
	}
}