.swagger-ui .opblock {

	.tab {
		margin: 0;

		.tabitem {
			font-family: $body-font;
			font-size: 1rem;
			font-variation-settings: 'wght' 600;
			color: map-get($colours, 'dark');
			display: block;
			padding: 0.75rem 1rem 0.5rem;

			&.active {
				background: white;
			}

			&:after {
				display: none;
			}
		}
	}

	@each $operation, $color in $op_colours {
		&-#{$operation} {

			.tab {
				border-bottom: 3px solid $color;

				.tabitem {

					&.active {
						background: $color;
						color: white;
						font-weight: unset;
					}
				}
			}
		}
	}

	.responses-wrapper {
		margin-top: 1rem;

		.responses-inner {
			padding: 1.5rem;
			padding-top: 0.5rem;
		}

		.response-controls {
			display: none;
		}

		.responses-table {

			tr.responses-header,
			tr.response {
			}

			tr.responses-header {

				td {
					font-family: $body-font;
					font-variation-settings: 'wght' 600;
					font-size: 1rem;

					&.response-col_links {
						display: none;
					}

					&.response-col_description {
						padding-left: 1rem;
					}
				}
			}

			tr.response {
				border-bottom: 1px solid rgba(map-get($colours, 'dark'), 0.15);
				align-items: flex-start;

				.response-col_status {
					font-variation-settings: 'wght' 600;
					padding: 0.65rem 0.5rem 0.25rem 0.5rem;
					margin-top: 0.5rem;
				}

				.response-col_description {
					padding-left: 1rem;

					&__inner {
						margin-top: 0.5rem;
					}
				}

				&[data-code="200"],
				&[data-code="201"],
				&[data-code="204"] {
					align-items: flex-start;

					.response-col_status {
						background: map-get($colours, 'success');
					}
				}

				&[data-code="400"],
				&[data-code="401"],
				&[data-code="403"],
				&[data-code="404"],
				&[data-code="409"] {
					align-items: center;
					padding-bottom: 0.5rem;

					.response-col_status {
						background: map-get($response_colours, '4xx');
						color: white;
					}

					.response-col_description {
						&__inner {
							width: 100%;
							flex-basis: 100%;
						}
					}

					.model-example {
						display: none;
					}
				}

				&[data-code="500"] {
					align-items: center;

					.response-col_status {
						background: map-get($response_colours, '5xx');
						color: white;
					}

					.model-example {
						display: none;
					}
				}
			}
		}

		.model-example {
			margin-bottom: 1rem;

			.model-box {
				width: 100%;
				background: white;
				border-radius: 0;

				> .model > span {
					font-size: 0; // hides [] that I can't otherwise grab onto
				}

				.model-box-control {
					pointer-events: none;

					.model-toggle {
						display: none;
					}

					.model-title {

						&__text {
							font-size: 1.25rem;
							color: map-get($colours, 'dark');
							margin-bottom: 0.25rem;
							font-variation-settings: 'wght' 600;
							display: block;
						}
					}
				}

				.property-row  {
					display: flex;
					align-items: center;
					min-height: 0;

					td:last-of-type {
						flex-grow: 1;
					}

					.model-box-control {

						.model-title {

							&__text {
								font-size: 1rem;
								font-weight: 300;
							}
						}
					}
				}
			}
		}
	}
}
