@import url('https://use.typekit.net/gna2wzl.css');

html {
	font-size: 14px;
}

$body-font: "area-variable", sans-serif;
$colours: (
	'primary': #3e0897,
	'secondary': #00c1da,
	'success': #28f132,
	'alert': #c0223b,
	'warning': #f19200,
	'dark': #3b4151
);
$op_colours: (
	'get': map-get($colours, 'secondary'),
	'post': map-get($colours, 'primary'),
	'patch': map-get($colours, 'warning'),
	'delete': map-get($colours, 'alert')
);
$response_colours: (
	'2xx': darken(map-get($colours, 'success'), 15%),
	'3xx': map-get($colours, 'warning'),
	'4xx': map-get($colours, 'alert'),
	'5xx': map-get($colours, 'alert')
);

@import 'global';
@import 'header';
@import 'models';
@import 'operation-header';
@import 'operation-tables';
@import 'operation-forms';
@import 'operation-parameters';
@import 'operation-responses';
@import 'section-schemas';
