@import url('https://use.typekit.net/gna2wzl.css');

html {
	font-size: 14px;
}

$body-font: "area-variable", sans-serif;
$colours: (
	'primary': #3e0897,
	'secondary': #da00a5,
	'success': #28f132,
	'alert': #ea1e3d,
	'warning': #ffa616,
	'dark': #3b4151
);
$op_colours: (
	'get': darken(map-get($colours, 'success'), 10%),
	'post': map-get($colours, 'primary'),
	'patch': map-get($colours, 'warning'),
	'delete': map-get($colours, 'alert')
);

@import 'global';
@import 'header';
@import 'models';
@import 'operation-header';
@import 'operation-tables';
@import 'operation-forms';
@import 'operation-responses';
@import 'section-schemas';
