@import url("https://use.typekit.net/gna2wzl.css");
html {
  font-size: 14px;
}

.swagger-ui {
  overflow-x: hidden;
  border-bottom: 2rem solid #3b4151;
}
.swagger-ui * {
  font-family: "area-variable", sans-serif;
  font-variation-settings: "INKT" 0, "wght" 400, "wdth" 100, "slnt" 0;
}
.swagger-ui a {
  transition: all 0.2s ease !important;
}
.swagger-ui .wrapper {
  max-width: 1280px;
}
.swagger-ui .opblock-tag,
.swagger-ui section.models > h3 button span {
  color: #3b4151;
  font-size: 1.5rem;
  font-variation-settings: "wght" 700;
}
.swagger-ui .highlight-code code * {
  font-family: monospace;
}
.swagger-ui .highlight-code pre {
  border-radius: 0 !important;
  font-size: 1rem !important;
  line-height: 1.4 !important;
  font-weight: normal !important;
}

.swagger-ui .information-container {
  max-width: 100%;
  padding: 2rem 0;
  background: #3e0897;
}
.swagger-ui .information-container > .block {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
.swagger-ui .information-container * {
  color: white !important;
}
.swagger-ui .information-container .info {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.swagger-ui .information-container .info p, .swagger-ui .information-container .info a {
  font-family: "area-variable", sans-serif;
  font-size: 1rem;
}
.swagger-ui .information-container .info .main {
  width: 100%;
  flex-basis: 100%;
}
.swagger-ui .information-container .info .main .title {
  font-family: "area-variable", sans-serif;
  text-transform: lowercase;
  font-variation-settings: "wght" 700;
  font-size: 3rem;
}
.swagger-ui .information-container .info__contact {
  margin-left: auto;
}
.swagger-ui .information-container .info__contact a.link {
  display: inline-block;
  font-variation-settings: "wght" 600;
  padding: 0.5rem 1rem;
  background: #222;
  text-decoration: underline;
  text-decoration-color: transparent;
}
.swagger-ui .information-container .info__contact a.link:hover, .swagger-ui .information-container .info__contact a.link:focus, .swagger-ui .information-container .info__contact a.link:active {
  background: #000;
  text-decoration-color: currentColor;
}
.swagger-ui .scheme-container {
  display: none;
}

.swagger-ui .model {
  font-size: 1rem;
}
.swagger-ui .model .model-box-control {
  display: none;
}
.swagger-ui .model .brace-open, .swagger-ui .model .brace-close {
  display: none;
}
.swagger-ui .model .prop {
  display: flex;
  align-items: center;
}
.swagger-ui .model .prop-type {
  color: #3b4151;
}
.swagger-ui .model .prop-format {
  color: rgba(59, 65, 81, 0.75);
  font-size: 0.8em;
  padding-left: 0.25rem;
  display: inline-block;
}
.swagger-ui .model .prop .primitive {
  margin-left: auto;
  font-size: 0.8em;
  font-style: normal;
}
.swagger-ui .model .prop .primitive br {
  display: none;
}
.swagger-ui table.model {
  font-size: 1rem;
}
.swagger-ui table.model .property-row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.25rem;
  border-top: 1px solid rgba(59, 65, 81, 0.1);
  padding-block: 0.5rem !important;
}
.swagger-ui table.model .property-row .model-box-control {
  display: none !important;
}
.swagger-ui table.model .property-row .star {
  color: #ea1e3d !important;
}
.swagger-ui table.model .property-row td:first-child {
  font-weight: unset;
  font-size: 0.9rem;
  font-variation-settings: "wght" 700;
  display: flex;
  align-content: center;
  align-items: center;
  padding-block-start: 2px;
  width: unset;
}
.swagger-ui table.model .property-row td {
  padding-inline-start: 0 !important;
}
.swagger-ui table.model .property-row td .model .prop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.swagger-ui table.model .property-row td .model .prop .prop-type {
  font-family: monospace;
}
.swagger-ui table.model .property-row td .model .prop .renderedMarkdown {
  padding-inline-start: 1rem;
}
.swagger-ui table.model .property-row td .model .prop .renderedMarkdown p {
  margin: 0;
  font-weight: normal;
  font-variation-settings: "wght" 300;
  font-size: 0.9rem;
  transform: translateY(2px);
}
.swagger-ui table.model .property-row td .model:has(.model) .model {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 5rem;
}
.swagger-ui table.model .property-row td .model:has(.model) .model .prop-type {
  min-width: 0;
}
.swagger-ui table.model .property-row td .model:has(.model) .model:after {
  content: "[]";
}
.swagger-ui table.model .property-row span.model > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}
.swagger-ui table.model .property-row span.model > span .prop {
  width: 100%;
  font-size: 0.9rem;
}
.swagger-ui table.model .property-row span.model > span .prop .prop-type {
  font-size: 1rem;
  min-width: 5rem;
}
.swagger-ui table.model .property-row span.model > span .renderedMarkdown {
  order: 10;
  padding-inline-start: 1rem;
  flex-grow: 1;
}
.swagger-ui table.model .property-row span.model > span .renderedMarkdown p {
  font-weight: normal;
  font-variation-settings: "wght" 300;
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.3;
}
.swagger-ui table.model .property-row .inner-object {
  display: none;
}
.swagger-ui table.model .property-row:has(.inner-object) .model-box-control[aria-expanded=true]:has(.model-title) {
  display: block !important;
}
.swagger-ui table.model .property-row:has(.inner-object) .model-box-control[aria-expanded=true]:has(.model-title) .model-title__text {
  font-family: monospace;
  font-size: 1rem;
}

.swagger-ui .opblock-tag-section {
  padding: 2rem 0;
}
.swagger-ui .opblock-tag-section h3 {
  pointer-events: none;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 0;
}
.swagger-ui .opblock-tag-section h3 span {
  font-variation-settings: "wght" 600;
}
.swagger-ui .opblock-tag-section h3 button {
  display: none;
}
.swagger-ui .opblock-tag-section .opblock-section-header .opblock-title span, .swagger-ui .opblock-tag-section .opblock-section-header h4 {
  font-size: 1.25rem;
  font-family: "area-variable", sans-serif;
  font-variation-settings: "wght" 600;
}
.swagger-ui .opblock-tag-section .opblock-section-header .opblock-title span:after, .swagger-ui .opblock-tag-section .opblock-section-header h4:after {
  display: none;
}
.swagger-ui .opblock-tag-section .opblock-description-wrapper * {
  font-family: "area-variable", sans-serif;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock {
  border-radius: 0;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock-get {
  border-color: #0ed818;
  background: rgba(14, 216, 24, 0.05);
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock-get .opblock-summary-method {
  background: #0ed818;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary {
  border: 0;
  padding: 0 0.5rem 0 0;
  display: flex;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-method {
  border-radius: 0;
  font-family: "area-variable", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 1.125rem;
  padding: 0.75rem 1rem 0.5rem;
  min-width: 95px;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path {
  width: 300px;
  flex-basis: 300px;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path span {
  font-variation-settings: "wght" 600;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path-description-wrapper {
  padding-top: 0.25rem;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-description {
  font-family: "area-variable", sans-serif;
  font-size: 1rem;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock-post {
  border-color: #3e0897;
  background: rgba(62, 8, 151, 0.05);
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock-post .opblock-summary-method {
  background: #3e0897;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary {
  border: 0;
  padding: 0 0.5rem 0 0;
  display: flex;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-method {
  border-radius: 0;
  font-family: "area-variable", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 1.125rem;
  padding: 0.75rem 1rem 0.5rem;
  min-width: 95px;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path {
  width: 300px;
  flex-basis: 300px;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path span {
  font-variation-settings: "wght" 600;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path-description-wrapper {
  padding-top: 0.25rem;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-description {
  font-family: "area-variable", sans-serif;
  font-size: 1rem;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock-patch {
  border-color: #ffa616;
  background: rgba(255, 166, 22, 0.05);
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock-patch .opblock-summary-method {
  background: #ffa616;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary {
  border: 0;
  padding: 0 0.5rem 0 0;
  display: flex;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-method {
  border-radius: 0;
  font-family: "area-variable", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 1.125rem;
  padding: 0.75rem 1rem 0.5rem;
  min-width: 95px;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path {
  width: 300px;
  flex-basis: 300px;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path span {
  font-variation-settings: "wght" 600;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path-description-wrapper {
  padding-top: 0.25rem;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-description {
  font-family: "area-variable", sans-serif;
  font-size: 1rem;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock-delete {
  border-color: #ea1e3d;
  background: rgba(234, 30, 61, 0.05);
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock-delete .opblock-summary-method {
  background: #ea1e3d;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary {
  border: 0;
  padding: 0 0.5rem 0 0;
  display: flex;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-method {
  border-radius: 0;
  font-family: "area-variable", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 1.125rem;
  padding: 0.75rem 1rem 0.5rem;
  min-width: 95px;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path {
  width: 300px;
  flex-basis: 300px;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path span {
  font-variation-settings: "wght" 600;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-path-description-wrapper {
  padding-top: 0.25rem;
}
.swagger-ui .opblock-tag-section .operation-tag-content .opblock .opblock-summary-description {
  font-family: "area-variable", sans-serif;
  font-size: 1rem;
}

.swagger-ui .opblock table tr {
  display: flex;
  min-height: 42px;
  align-items: center;
}
.swagger-ui .opblock table tr .col_header {
  padding: 0.5rem 0;
}
.swagger-ui .opblock table tr .parameters-col_name, .swagger-ui .opblock table tr .parameters-col_description,
.swagger-ui .opblock table tr .response-col_name,
.swagger-ui .opblock table tr .response-col_description {
  width: 100%;
  flex-basis: 100%;
  font-family: "area-variable", sans-serif;
  font-size: 1rem;
  color: #3b4151;
  padding: 0.5rem 0;
}
.swagger-ui .opblock table tr .parameters-col_name,
.swagger-ui .opblock table tr .response-col_name {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (min-width: 940px) {
  .swagger-ui .opblock table tr .parameters-col_name,
  .swagger-ui .opblock table tr .response-col_name {
    width: 295px;
    flex-basis: 295px;
    min-width: 295px;
  }
}
.swagger-ui .opblock table tr .parameters-col_name .parameter__name, .swagger-ui .opblock table tr .parameters-col_name .parameter__type,
.swagger-ui .opblock table tr .response-col_name .parameter__name,
.swagger-ui .opblock table tr .response-col_name .parameter__type {
  font-family: "area-variable", sans-serif;
}
.swagger-ui .opblock table tr .parameters-col_name .parameter__name,
.swagger-ui .opblock table tr .response-col_name .parameter__name {
  font-variation-settings: "wght" 600;
  font-size: 1rem;
  margin: 0;
  width: 120px;
  flex-basis: 120px;
}
.swagger-ui .opblock table tr .parameters-col_name .parameter__name.required,
.swagger-ui .opblock table tr .response-col_name .parameter__name.required {
  display: flex;
  align-items: center;
}
.swagger-ui .opblock table tr .parameters-col_name .parameter__name.required span,
.swagger-ui .opblock table tr .response-col_name .parameter__name.required span {
  display: none;
}
.swagger-ui .opblock table tr .parameters-col_name .parameter__name.required:after,
.swagger-ui .opblock table tr .response-col_name .parameter__name.required:after {
  display: inline-block;
  top: 0;
  font-family: "area-variable", sans-serif;
  color: #ea1e3d;
  padding: 0;
  margin-left: 0.5rem;
}
.swagger-ui .opblock table tr .parameters-col_name .parameter__type,
.swagger-ui .opblock table tr .response-col_name .parameter__type {
  font-weight: 300;
  padding: 0;
  flex-grow: 1;
}
.swagger-ui .opblock table tr .parameters-col_name .parameter__deprecated, .swagger-ui .opblock table tr .parameters-col_name .parameter__in,
.swagger-ui .opblock table tr .response-col_name .parameter__deprecated,
.swagger-ui .opblock table tr .response-col_name .parameter__in {
  width: 50px;
  flex-basis: 50px;
  padding-right: 0.5rem;
}
.swagger-ui .opblock table tr .parameters-col_name .parameter__deprecated:empty, .swagger-ui .opblock table tr .parameters-col_name .parameter__in:empty,
.swagger-ui .opblock table tr .response-col_name .parameter__deprecated:empty,
.swagger-ui .opblock table tr .response-col_name .parameter__in:empty {
  display: none;
}
.swagger-ui .opblock table tr .parameters-col_description {
  margin-bottom: 0;
}
.swagger-ui .opblock table tr .parameters-col_description:not(.col_header) {
  padding: 0;
}
@media screen and (min-width: 940px) {
  .swagger-ui .opblock table tr .parameters-col_description {
    flex-grow: 1;
    flex-basis: auto;
  }
}
.swagger-ui .opblock table tr .parameters-col_description div {
  display: flex;
  align-items: center;
}
.swagger-ui .opblock table tr .parameters-col_description .renderedMarkdown {
  display: none;
}
.swagger-ui .opblock table tr .parameters-col_description .renderedMarkdown p {
  margin: 0;
}
.swagger-ui .opblock table tr .parameters-col_description label {
  font-weight: 300;
  padding: 0.25rem 1rem;
  margin: 0;
}
.swagger-ui .opblock table tr .parameters-col_description input {
  border-radius: 0;
  margin: 0;
  font-family: "area-variable", sans-serif;
}
.swagger-ui .opblock table tr .parameters-col_description input[type=checkbox] {
  width: auto;
  margin-right: 0.25rem;
}
.swagger-ui .opblock table tr .response-col_status {
  font-family: "area-variable", sans-serif;
  width: 120px;
  flex-basis: 120px;
  min-width: 120px;
  padding: 0.5rem 0;
}
.swagger-ui .opblock table tr .response-col_description {
  flex-grow: 1;
}
@media screen and (min-width: 940px) {
  .swagger-ui .opblock table tr .response-col_description {
    display: flex;
  }
}
@media screen and (min-width: 940px) {
  .swagger-ui .opblock table tr .response-col_description__inner {
    width: 175px;
    flex-basis: 175px;
    min-width: 175px;
  }
}
.swagger-ui .opblock table tr .response-col_description__inner .renderedMarkdown p {
  margin-top: 0 !important;
}
.swagger-ui .opblock table tr .response-col_description__inner .renderedMarkdown p:last-child {
  margin-bottom: 0 !important;
}
@media screen and (min-width: 940px) {
  .swagger-ui .opblock table tr .response-col_description .model-example {
    flex-grow: 1;
    margin-top: 0;
  }
}
.swagger-ui .opblock table tr .response-col_links {
  display: none;
}

.swagger-ui .opblock .btn,
.swagger-ui .opblock .btn-group .btn,
.swagger-ui .opblock select {
  font-family: "area-variable", sans-serif;
  font-variation-settings: "wght" 600;
  box-shadow: none;
  border-radius: 0;
  margin-left: 0;
}
.swagger-ui .opblock .btn {
  text-decoration: underline;
  text-decoration-color: transparent;
}
.swagger-ui .opblock .btn:hover, .swagger-ui .opblock .btn:focus, .swagger-ui .opblock .btn:active {
  text-decoration-color: currentColor;
}
.swagger-ui .opblock .btn-group .btn.try-out__btn.cancel {
  background: #3b4151;
  border-color: #3b4151;
}
.swagger-ui .opblock .btn-group .btn.try-out__btn.cancel:hover, .swagger-ui .opblock .btn-group .btn.try-out__btn.cancel:focus, .swagger-ui .opblock .btn-group .btn.try-out__btn.cancel:active {
  background: #101216;
}
.swagger-ui .opblock-get .btn,
.swagger-ui .opblock-get .btn-group .btn {
  background: #0ed818;
  border-color: #0ed818;
  color: white;
}
.swagger-ui .opblock-get .btn:hover, .swagger-ui .opblock-get .btn:focus, .swagger-ui .opblock-get .btn:active,
.swagger-ui .opblock-get .btn-group .btn:hover,
.swagger-ui .opblock-get .btn-group .btn:focus,
.swagger-ui .opblock-get .btn-group .btn:active {
  background: #0ba813;
}
.swagger-ui .opblock-post .btn,
.swagger-ui .opblock-post .btn-group .btn {
  background: #3e0897;
  border-color: #3e0897;
  color: white;
}
.swagger-ui .opblock-post .btn:hover, .swagger-ui .opblock-post .btn:focus, .swagger-ui .opblock-post .btn:active,
.swagger-ui .opblock-post .btn-group .btn:hover,
.swagger-ui .opblock-post .btn-group .btn:focus,
.swagger-ui .opblock-post .btn-group .btn:active {
  background: #2a0567;
}
.swagger-ui .opblock-patch .btn,
.swagger-ui .opblock-patch .btn-group .btn {
  background: #ffa616;
  border-color: #ffa616;
  color: white;
}
.swagger-ui .opblock-patch .btn:hover, .swagger-ui .opblock-patch .btn:focus, .swagger-ui .opblock-patch .btn:active,
.swagger-ui .opblock-patch .btn-group .btn:hover,
.swagger-ui .opblock-patch .btn-group .btn:focus,
.swagger-ui .opblock-patch .btn-group .btn:active {
  background: #e28c00;
}
.swagger-ui .opblock-delete .btn,
.swagger-ui .opblock-delete .btn-group .btn {
  background: #ea1e3d;
  border-color: #ea1e3d;
  color: white;
}
.swagger-ui .opblock-delete .btn:hover, .swagger-ui .opblock-delete .btn:focus, .swagger-ui .opblock-delete .btn:active,
.swagger-ui .opblock-delete .btn-group .btn:hover,
.swagger-ui .opblock-delete .btn-group .btn:focus,
.swagger-ui .opblock-delete .btn-group .btn:active {
  background: #c3122d;
}
.swagger-ui .opblock .parameters-container {
  padding: 20px;
}
.swagger-ui .opblock .parameters-container .opblock-description-wrapper {
  padding: 0;
}
.swagger-ui .opblock .table-container {
  padding: 0;
}
.swagger-ui .opblock .execute-wrapper {
  padding-top: 0;
}

.swagger-ui .opblock .tab {
  margin: 0;
}
.swagger-ui .opblock .tab .tabitem {
  font-family: "area-variable", sans-serif;
  font-size: 1rem;
  font-variation-settings: "wght" 600;
  color: #3b4151;
  display: block;
  padding: 0.5rem 1rem;
}
.swagger-ui .opblock .tab .tabitem.active {
  background: white;
}
.swagger-ui .opblock .tab .tabitem:after {
  display: none;
}
.swagger-ui .opblock-get .tab {
  border-bottom: 3px solid #0ed818;
}
.swagger-ui .opblock-get .tab .tabitem.active {
  background: #0ed818;
  color: white;
}
.swagger-ui .opblock-post .tab {
  border-bottom: 3px solid #3e0897;
}
.swagger-ui .opblock-post .tab .tabitem.active {
  background: #3e0897;
  color: white;
}
.swagger-ui .opblock-patch .tab {
  border-bottom: 3px solid #ffa616;
}
.swagger-ui .opblock-patch .tab .tabitem.active {
  background: #ffa616;
  color: white;
}
.swagger-ui .opblock-delete .tab {
  border-bottom: 3px solid #ea1e3d;
}
.swagger-ui .opblock-delete .tab .tabitem.active {
  background: #ea1e3d;
  color: white;
}
.swagger-ui .opblock .responses-wrapper .response-controls {
  display: none;
}
.swagger-ui .opblock .responses-wrapper .responses-table tr.responses-header td {
  font-family: "area-variable", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: 1rem;
}
.swagger-ui .opblock .responses-wrapper .responses-table tr.responses-header td.response-col_links {
  display: none;
}
.swagger-ui .opblock .responses-wrapper .responses-table tr.response {
  border-bottom: 1px solid rgba(59, 65, 81, 0.15);
  align-items: flex-start;
}
.swagger-ui .opblock .responses-wrapper .responses-table tr.response .response-col_status {
  font-variation-settings: "wght" 600;
}
.swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="200"], .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="201"], .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="204"] {
  align-items: flex-start;
}
.swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="200"] .response-col_status, .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="201"] .response-col_status, .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="204"] .response-col_status {
  color: #28f132;
}
.swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="400"], .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="404"], .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="409"] {
  align-items: center;
}
.swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="400"] .response-col_status, .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="404"] .response-col_status, .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="409"] .response-col_status {
  color: #ea1e3d;
}
.swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="400"] .model-example, .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="404"] .model-example, .swagger-ui .opblock .responses-wrapper .responses-table tr.response[data-code="409"] .model-example {
  display: none;
}
.swagger-ui .opblock .responses-wrapper .model-example {
  margin-bottom: 1rem;
}
.swagger-ui .opblock .responses-wrapper .model-example .model-box {
  width: 100%;
  background: white;
  border-radius: 0;
}
.swagger-ui .opblock .responses-wrapper .model-example .model-box > .model > span {
  font-size: 0;
}
.swagger-ui .opblock .responses-wrapper .model-example .model-box .model-box-control {
  pointer-events: none;
}
.swagger-ui .opblock .responses-wrapper .model-example .model-box .model-box-control .model-toggle {
  display: none;
}
.swagger-ui .opblock .responses-wrapper .model-example .model-box .model-box-control .model-title__text {
  font-size: 1.25rem;
  color: #3b4151;
  margin-bottom: 0.25rem;
  font-variation-settings: "wght" 600;
  display: block;
}
.swagger-ui .opblock .responses-wrapper .model-example .model-box .property-row {
  display: flex;
  align-items: center;
  min-height: 0;
}
.swagger-ui .opblock .responses-wrapper .model-example .model-box .property-row td:last-of-type {
  flex-grow: 1;
}
.swagger-ui .opblock .responses-wrapper .model-example .model-box .property-row .model-box-control .model-title__text {
  font-size: 1rem;
  font-weight: 300;
}

.swagger-ui section.models {
  border: 0;
  padding: 0;
}
@media screen and (min-width: 940px) {
  .swagger-ui section.models {
    column-count: 2;
  }
}
.swagger-ui section.models h3 {
  padding: 0;
  border-bottom: 0 !important;
  pointer-events: none;
  column-span: all;
}
.swagger-ui section.models .models-control {
  pointer-events: none;
  margin: 0;
}
.swagger-ui section.models .models-control svg {
  display: none;
}
.swagger-ui section.models .model-container {
  margin: 0 0 1rem 0 !important;
  border-radius: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.05);
  break-inside: avoid-column;
}
.swagger-ui section.models .model-container:hover {
  background: rgba(0, 0, 0, 0.05);
}
.swagger-ui section.models .model-container h4 {
  font-family: "area-variable", sans-serif;
  color: #3b4151;
  font-size: 1.25rem;
  font-variation-settings: "wght" 600;
  border: 0;
  pointer-events: none;
  padding: 0;
}
.swagger-ui section.models .model-container .model-box {
  padding: 0;
}
.swagger-ui section.models .model-container > .model-box {
  display: block;
  width: 100%;
}
.swagger-ui section.models .model-container > .model-box > .model-box {
  width: 100%;
}
.swagger-ui section.models .model-container .model-box-control .model-toggle {
  display: none;
}
.swagger-ui section.models .model-container .property-row .model-box-control[aria-expanded=true] {
  pointer-events: none;
}
.swagger-ui section.models .model-container .property-row .model-box-control[aria-expanded=true] .model-title {
  font-size: 1em;
}
.swagger-ui section.models #model-Orientation .prop {
  display: flex;
  align-items: center;
}
.swagger-ui section.models #model-Orientation .prop .renderedMarkdown {
  display: flex;
  margin: 0.5rem 0 0.5rem auto;
}
.swagger-ui section.models #model-Orientation .prop .renderedMarkdown p {
  margin: 0;
  padding: 0 0.5rem;
  border-right: 1px solid rgba(59, 65, 81, 0.5);
  line-height: 1;
}
.swagger-ui section.models #model-Orientation .prop .renderedMarkdown p:first-of-type {
  padding-left: 0;
}
.swagger-ui section.models #model-Orientation .prop .renderedMarkdown p:last-of-type {
  border: 0;
}
.swagger-ui section.models #model-UniqueInstance,
.swagger-ui section.models #model-HttpValidationProblemDetails,
.swagger-ui section.models #model-ProblemDetails {
  display: none;
}

/*# sourceMappingURL=swagger-ui-styles.css.map */
