<section class="tabbed-content">
    <div class="tabs" [attr.data-theme]="theme" [attr.data-size]="size">
        <ul class="tab-list">
            <app-back-button *ngIf="showBackButton"></app-back-button>
            <li *ngFor="let tab of tabs">
                <!-- ngTemplateOutlet: Use the button template if it is passed in, otherwise use the default button template -->
                <!-- Context: make the current tab and tabsContainer instance available to the passed-in template -->
                <!-- Having the tabsContainer instance available allows the button template to use TabContainer's methods -->
                <ng-container
                        *ngTemplateOutlet="buttonTemplate ? buttonTemplate : defaultButtonTemplate;
                        context: {
                            tab: tab,
                            tabsContainer: this
                        }">
                </ng-container>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="page-transitions-wrapper" [@routeAnimations]="activeRouteAnimation">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

<!-- Default button template to use if a custom one is not passed in -->
<ng-template #defaultButtonTemplate let-tab="tab">
    <app-button [label]="tab.label"
                [classNames]="'tab-list__button'"
                [active]="isActive(tab.route)"
                (click)="selectTab(tab.route)">
    </app-button>
</ng-template>
