<section class="tabbed-content">
    <nav class="tabs">
        <ul class="tab-list">
            <li *ngFor="let tab of tabs"
                class="tab-list__item"
                [class.tab--active]="isActive(tab.route)">
                <!-- If an icon is specified, render as icon button -->
                <app-icon-button *ngIf="tab.icon" [iconClass]="tab.icon"
                        [tooltip]="tab.label"
                        [active]="isActive(tab.route)"
                        (click)="selectTab(tab.route)">
                </app-icon-button>
                <!-- If no icon is specified, render as text button -->
                <app-button *ngIf="!tab.icon"
                        [label]="tab.label"
                        [classNames]="'tab-list__button'"
                        [active]="isActive(tab.route)"
                        (click)="selectTab(tab.route)">
                </app-button>
            </li>
        </ul>
    </nav>
    <main class="tab-content">
        <router-outlet></router-outlet>
    </main>
</section>
