<div class="chat-list">
    <app-tabs-container [tabs]="tabs" [buttonTemplate]="chatListButtonTemplate" theme="light" size="wide"></app-tabs-container>

    <!-- Template to use for the buttons in the tabs in this context -->
    <ng-template #chatListButtonTemplate let-tab="tab" let-tabsContainer="tabsContainer">
        <button class="chat-list-button"
             [class.chat-list-button__active]="tabsContainer.isActive(tab.route)"
             (click)="tabsContainer.selectTab(tab.route)">
            <div class="chat-list-button__avatar">
                <img [src]="tab.icon" [alt]="tab.label + ' Avatar'">
            </div>
            <span class="chat-list-button__label">{{ tab.label }}</span>
        </button>
    </ng-template>
</div>
